* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.main {
    width: 960px;
    margin: 50px auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main_1 {
    position: relative;
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    border: solid 1px gray;
    float: left;
}

.content_img_1 {
    height: 150px;
    background-image: url(img/e9_flow01.png);
    background-size: cover;
    background-position: bottom;
}

.content_index {
    position: absolute;
    display: inline-block;
    padding: 3px;
    top: 0;
    left: 0;
    background-color: orange;
    color: white;
}

.content_title {
    margin: 15px 0 5px;
}

.content_text {
    width: 280px;
}

.main_2 {
    position: relative;
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    border: solid 1px gray;
    float: left;
}

.content_img_2 {
    height: 150px;
    background-image: url(img/e9_flow02.png);
    background-size: cover;
    background-position: bottom;
}

.main_3 {
    position: relative;
    width: 300px;
    padding: 10px;
    border: solid 1px gray;
    float: left;
}

.content_img_3 {
    height: 150px;
    background-image: url(img/e9_flow03.png);
    background-size: cover;
    background-position: bottom;
}

@media screen and (max-width:768px) {
    .main {
        width: 90%;
        margin: 50px auto;
    }

    .main_1, .main_2, .main_3 {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .main_1, .main_2 {
        margin-bottom: 20px;
    }

    .content_text {
        width: 100%;
    }


}